@font-face {
  font-family: "Saiyan-Sans";
  src: url("Saiyan-Sans.ttf");
}
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;600;700&display=swap");
* {
  /* Resetar o CSS */
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Raleway", sans-serif;
}

/* Elemento */
header {
  color: #ffffff;
  font-weight: bold;
}
main {
  width: 70vw; /* Cerca de 70% da largura tela */
  margin: 0 auto; /* Centralizar um container */
}

p {
  margin-bottom: 10px;
}

/* Identificadores e classes */
section#menu {
  background-color: #e55e2e;
  padding: 7px 10px;
  display: flex;
  align-items: center; /* Eixo vertical */
  justify-content: space-between; /* Eixo horizontal */
}

img.banner {
  width: 100%;
  height: 300px;
  object-fit: cover;
}

.card {
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.25);
}

/* Hierarquia */
section#menu > header {
  display: flex;
  align-items: center; /* Eixo vertical */
}

section#menu > header > span {
  margin-left: 15px;
  font-family: "Saiyan-Sans", serif;
  font-size: 30px;
}
header > nav {
  background-color: #fda402;
  padding: 7px 10px;
}
nav > a {
  color: #ffffff;
  text-decoration: none;
  font-weight: bold;
}
main > div {
  background-color: #ac0117;
  padding: 10px;
  border-radius: 5px;
  margin: 30px 0;
}

main > div > h1 {
  text-align: center;
  color: #ffffff;
  font-size: 18px;
}

.card > h2 {
  color: #7fcb07;
  font-size: 18px;
}

footer {
  background-color: #e55e2e;
  padding: 10px;
}

footer > p {
  color: #ffffff;
  font-weight: bold;
  text-align: center;
}
